%OpenSansRegular{
	font-family: "Open Sans Regular", sans-serif;
	font-weight: 400;
}

%RobotoLight{
	font-family: "Roboto Light", sans-serif;
	font-weight: 300;
}

%SourceSansProLight{
	font-family: "Source Sans Pro Light", sans-serif;
	font-weight: 300;
}
